<%= button_to "新規追加", {:action => "create_form"}, {method: :get} %>
<%= form_tag(action: "update") do  %>
<%= button_to '完了' %>
<table>
  <% @info.each do |i| %>
    <tr>
    <td>
      <% if i.use %>
        <%= check_box_tag i.id, true, {:checked => true} %>
      <% else %>
        <%= check_box_tag i.id, true %>
      <% end %>
      <%= i.content %>
    </td>
    <td>
      <%= button_to "内容変更", { :action => "update_form", :id => i.id } %>
    </td>
    <td>
      <%= button_to "削除", { :action => "info_destroy", :id => i.id }, :confirm => "本当に削除しますか?", :method => "delete" %>
    </td>
    </tr>
  <% end %>
</table>
<% end %>
