<h1>テストお疲れ様！</h1>
<p>
    <%= @msg %>
</p>
    <table>
        <% $answer_table.each do |a_t| %>
        <tr><td>
            <p>
                <%= a_t[0] %>.
            </p>
            <p>
                <%= simple_format(a_t[1]) %>
            <p>
            <p>
                正解 : <%= a_t[2] %><br>
                解答 : <%= raw a_t[3] %>
            </p>
            <p>
                <%= a_t[4] %>
            </p>
        </td></tr>
        <% end %>

    </table>
<p>
    <%= button_to("選択画面へ", '/choose_course', :method => :get, class: "btn btn-primary") %>
</p>
