<h1>
    <%= $q_exp.title %>
</h1>
<p>
    <%= $q_exp.explanation %>
</p>
<p>
    <%= $nums.to_s + "/" + $quiz.length.to_s %>
    <%= simple_format($q.q_text) %>
</p>
<ol>
    <%= form_tag(controller: "course", action: "update")  do %>
        <% n = 0 %>
        <% $choices.each do |c| %>
            <% if c then %>
                <li>
                    <%= radio_button_tag(:num, n += 1) %>
                    <%= label_tag(:u_answer, c) %>
                </li>
            <% end %>
        <% end %>
        <%= submit_tag("次へ", class: "btn btn-primary") %>
    <% end %>
</ol>
