<!DOCTYPE html>
<html>
  <head>
    <title>EStud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= link_to "E-Stud", root_path, class: "header-logo" %>
    <nav>
      <div class="header-list">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if logged_in? %>
            <li>
            <%= link_to "Account", choose_course_path %>
              
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="header-user-list">
        <% if logged_in? %>
          <ul>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% if current_user.admin? && current_user?(current_user) %>
              <li><%= link_to "Users", users_path %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </nav>
  </header>

  <body>
    <% flash.each do |message_type, message| %>
      <div><%= message %></div>
    <% end %>
   <%= yield %>
  </body>

  <footer>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </footer>
</html>
